<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta restaurantName="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>txt</title>

    <link rel="stylesheet" type="text/css" href="css/style_login.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/vector.js"></script>

</head>

<body>

<div id="container">
    <div id="output">
        <div class="containerT" id = "login">
            <h1>用户登录</h1>
            <div id = "alarm" ></div>
            <form class="form" id="entry_form">
                <input type="text" placeholder="用户名" id="entry_name" value="calabash_boy">
                <input type="password" placeholder="密码" id="entry_password" value = "123456">
                <select id = "role_select">
                    <option value="associator">会员</option>
                    <option value="restaurant">餐厅</option>
                    <option value="administer">经理</option>
                </select>
                <button type="button" id="entry_btn">登录</button>
                <div id="prompt" class="prompt"></div>
            </form>
            <br><br>
            <button id = "show_register" class = "mybtn">用户注册</button>
            <br><br>
            <button id = "show_register_restaurant" class = "mybtn">商家注册</button>
        </div>
        <div class="containerT" id = "register" style="display: none;">
            <h1>用户注册</h1>
            <div id = "alarm_r" ></div>
            <form class="form" id="entry_form_r">
                <input type="text" placeholder="用户名" id="username_r" >
                <input type="password" placeholder="密码" id="password_r" >
                <input type="password" placeholder="再次输入密码" id = "password_confirm_r">
                <input type="text" placeholder="邮箱" id = "mail_r">
                <input type = "text" placeholder="邮箱验证码" id = "auth_code_r">
                <input type = "text" placeholder="姓名" id = "name_r">
                <input type = "text" placeholder="手机号" id = "phone_r">
                <button type = "button" id = "send_auth">发送验证码</button>
                <button type="button" id="register_submit">注册</button>
                <div id="prompt_r" class="prompt"></div>
            </form>
            <br>
            <button id = "show_login" class = "mybtn">转到登陆</button>
        </div>
        <div class="containerT" id = "register_restaurant" style="display: none;">
            <h1>餐厅注册</h1>
            <div id = "alarm_r_restaurant" ></div>
            <form class="form" id="entry_form_r_restaurant">
                <input type = "text" placeholder="餐厅名" id = "name_r_restaurant">
                <input type="password" placeholder="密码" id="password_r_restaurant" >
                <input type="password" placeholder="再次输入密码" id = "password_confirm_r_restaurant">
                <input type="text" placeholder="餐厅类型" id = "type_r_restaurant">
                <input type = "text" placeholder="地址" id = "address_r_restaurant">
                <button type="button" id="register_submit_restaurant">注册</button>
                <div id="prompt_r_restaurant" class="prompt"></div>
            </form>
            <br>
            <button id = "show_login2" class = "mybtn">转到登陆</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登陆背景函数
    });

    setTimeout(function () {
        var t =$("#entry_name");
        t.focus();
        t.select();
    },200)
    function check_info(){
        let mail = $("#mail_r").val();
        let username = $("#username_r").val();
        let pass1 = $("#password_r").val();
        let pass2 = $("#password_confirm_r").val();
        if (mail == null || username == null){
            $("#alarm_r").html("请填写用户名+邮箱");
            return false;
        }
        if (pass1 == null || pass2 == null ||pass1 != pass2){
            $("#alarm_r").html("两次密码不相同");
            return false;
        }
        let phone = $("#phone_r").val();
        let name = $("#name_r").val();
        if (phone == null || name == null){
            $("#alarm_r").html("请填写所有信息");
            return false;
        }
        return true;
    }
    $("#send_auth").click(function (event) {
        let mail = $("#mail_r").val();
        let username = $("#username_r").val();
        if (!check_info())return;
        $.ajax({
            url:"/register/send_auth",
            data:{
                username:username,
                mail:mail
            },
            success(data){
                console.log(data);
                $("#alarm_r").html("成功发送验证码");
            }
        })
    })
    $("#register_submit").click(function(event){
        if (!check_info())return;
        let code = $("#auth_code_r").val();
        let username = $("#username_r").val();
        let password = $("#password_r").val();
        let phone = $("#phone_r").val();
        let mail = $("#mail_r").val();
        let name = $("#name_r").val();
        let role = $("#role_select_r").val();
        $.ajax({
            url:"/register/confirm_auth",
            data:{
                mail:mail,
                auth_code:code
            },
            success(data){
                if (data == "success"){
                    $("#alarm_r").html("验证码验证成功");
                    $.ajax({
                        url:"/"+associator +"/add",
                        data:{
                            username:username,
                            password:password,
                            mail:mail,
                            phone:phone,
                            name:name
                        },
                        success(data){
                            $("#alarm").html("注册成功，请登录");
                            $("#entry_name").val(username);
                            document.getElementById("register").style.display = "none";
                            document.getElementById("login").style.display = "block";
                        }
                    })
                }else{
                    $("#alarm_r").html("验证码错误");
                }
            }
        })
    })
    $(document).keydown(function(event){
        if(event.keyCode==13){
            $("#entry_btn").click();
        }
    });
    $("#entry_btn").click(function (event) {
        console.log("click")
        var role= $("#role_select").val();
        var user_name = $("#entry_name").val();
        var pass_word = $("#entry_password").val();
        console.log(role);
        $.ajax({
            url:"/login/"+role,
            data:{username:user_name,password:pass_word},
            success:function(data){
                if (data == "login"){
                    console.log("login success");
                    $("#alarm").html("登录成功");
                    window.location.href = "index";

                }else{
                    $("#alarm").html("用户名或密码错误");
                    $("#entry_password").focus();
                }
            },
            fail:function (data) {
                console.log(data);
            }
        })
    })
    $("#show_register").click(function (event) {
        document.getElementById("register").style.display = "block";
        document.getElementById("login").style.display = "none";
        document.getElementById("register_restaurant").style.display = "none";
    })
    $("#show_login").click(function (event) {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "block";
        document.getElementById("register_restaurant").style.display = "none";
    })
    $("#show_login2").click(function (event) {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "block";
        document.getElementById("register_restaurant").style.display = "none";
    })
    $("#show_register_restaurant").click(function (event) {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "none";
        document.getElementById("register_restaurant").style.display = "block";
    })
    $("#register_submit_restaurant").click(function (event) {
        let name = $("#name_r_restaurant").val();
        let password1 = $("#password_r_restaurant").val();
        let password2 = $("#password_confirm_r_restaurant").val();
        let type = $("#type_r_restaurant").val();
        let address = $("#address_r_restaurant").val();
        if (name == null || password1 == null || password2 == null || type == null || address == null){
            $("#alarm_r_restaurant").html("请填写所有信息");
            return;
        }
        if (password2 != password1){
            $("#alarm_r_restaurant").html("两次密码不同");
            return;
        }
        $.ajax({
            url:"/restaurant/add",
            data:{
                name:name,
                password:password1,
                type:type,
                address:address
            },
            success(data){
                let id = data.id;
                let id_str = "";
                while (id != 0){
                    id_str += id%10;
                    console.log(id_str);
                    console.log(id);
                    id /=10;
                    id = Math.floor(id);
                }
                while (id_str.length <7){
                    id_str += '0';
                }
                let rev_str = "";
                for (let i = 6;i>=0;i--){
                    rev_str += id_str[i];
                }
                $("#alarm_r_restaurant").html("注册成功，您的登陆id为"+rev_str);
            }
        })
    })

</script>

</body>

</html>